
body {
    background-image: url(../images/Wallpaper.jpeg);
    background-position: 75% 40%;
}


.top-element {
    backdrop-filter: blur(50px);
    background-color: rgba(40, 33, 65, 0.5);
    color: #dcde77;
}

header {
    color: #dcde77;
}

h1 {
    font-family: Pirata One;
}

form {
    font-family: system-ui, -apple-system, sans-serif;
}

blockquote {
    font-family: Pirata One;
}

